@charset "UTF-8";
  /*
  共通
  */
  body{
      line-height: 1.7;
  
      font-family : "ヒラギノ角ゴ ProN" , sans-serif;
  }
  a{
      text-decoration: none;
      color: #000;
  }
  img {
      max-width: 100%;
  }
  
  .wrapper{
      /* margin-top: 20px; */
      margin-right: 60px;
      margin-left: 60px;
      /* margin-bottom: 20px; */
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h3 {
    margin-bottom: 0px;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #9dd1f5;
    border-bottom: 1px solid #ccc;
    max-width: 200px;
    font-size: inherit;
    font-weight: normal;
  }

  h2 {
    margin-bottom: 0px;
    padding: .25em 0 .5em .75em;
    border-left: 6px solid #9dd1f5;
    border-bottom: 1px solid #ccc;
    max-width: 500px;
    font-size: inherit;
    font-weight: normal;
  }
  
  /*
  フッターとメニュー
  */
  .main_menu {
      display: flex;
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-top: 34px;
      list-style: none;
  }
  
  .main_menu li {
      margin-left: 36px;
     
  }
  .main_menu img:hover{
    transition-duration: 0.2s;
	opacity: 0.5 ;
  }
  
  .page_header h1{
      margin-left: 20px;
  }
  .page_header {
      display: flex;
  }
  .main_menu{
      margin-left: auto;
      margin-right: 20px;
  }
  .header{
      background-color:aliceblue;
      /* height : 180px; */
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding-bottom: 10px;
      margin-bottom: 10px;
  }
  
  
  /*
  フッター
  */
  footer p{
      text-align:right;
      margin-right: 20px;
  }
  
  footer{
      background-color: #eee;
  }
 

  /*
  グリッド写真表示
  */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-start;
  }
  .item {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    border: solid 2px #FFF; 
    box-sizing: border-box;
    overflow:hidden;
  } 
  .item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item:hover img{
      opacity: 0.2;
      transition-duration: 0.5s;

      transform:scale(1.2,1.2);
      transition:0.5s all;
  }
  .item:hover:hover .shop_name {
      opacity:1;
      transition:0.5s all;
  }

  .shop_name {
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    width: fit-content;
    font-weight: bold;
    opacity: 0;
    }

  /* google_place_id非表示 */
  table#google_place_t td:nth-child(5) {
    display: none;
  }
  table#google_place_t th:nth-child(5) {
    display: none;
  }

  /* マップボタン　改行防止*/
  td#map_button {
    width: 50px;
  }

  /* ボタン */
  a#table_button {
    padding: 6px;
  }

  a.button {
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: #000000;
  }

  .button:hover {
    transition-duration: 0.2s;
	opacity: 0.5 ;
  }
  
  /* ショップ選択テーブル */
  table.shop_t {
    margin-left: 28px;
    width: calc(100% - 28px);
  }
  .shop_t td {
    background: url(../line.png) 0 100% repeat-x;
  }

  /* content　インデント */
  .content {
    margin-left: 30px;
  }

  /* 地図表示用 */
  .map {
    max-width: 700px;
  }

  iframe {
    width: -webkit-fill-available;
  }  

  /*投稿時コメント用テキストエリア*/
  textarea#comment {
    max-width: 500px;
    height:200px;
    width: 100%;
  }

  /*
  スマホ用
  */
  @media (max-width: 900px){
  
     
      .header{
          height: auto;
      }
      .header h1{
          font-size: 1.5rem;
      }
 
      .wrapper{
          margin-top: 2px;
          margin-right: 5px;
          margin-left: 2px;
          margin-bottom: 5px;
      }
      
      .page_header {
          display: block;
      }
      
      .main_menu{
          justify-content: space-between;
      }
      
      .main_menu li {
        margin-left: 0px;
        margin-right: 0px;
      }

      ul.main_menu {
        padding-left: 0px;
        margin-right: 10px;
        margin-left: 10px;
      }

      .main_menu a{
          font-size: 1rem;
      }
      .page_header h1{
          margin-left: 0px;
          text-align: center;
      }
  
      .content {
        margin-left: 0px;
      }

      /* 写真グリッド表示 */
      .item {
        position: relative;
        width: 33.3%;
        padding-bottom: 33.3%;
        border: solid 2px #FFF; 
        box-sizing: border-box;
      } 

      /* モバイル　非表示 */
      #m_display_none{
          display: none;
      }

      /* googleマップ表のその他非表示 */
      table#google_place_t td:nth-child(2) {
        display: none;
      }
      table#google_place_t th:nth-child(2) {
        display: none;
      }
      table#google_place_t td:nth-child(3) {
        display: none;
      }
      table#google_place_t th:nth-child(3) {
        display: none;
      }
      table#google_place_t td:nth-child(4) {
        display: none;
      }
      table#google_place_t th:nth-child(4) {
        display: none;
      }
  }